<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SearchAddress" value="http://localhost:9200" />
    <add key="Env" value="" />
    
    <add key="PageSize" value="500" />
    <add key="EventStoreApiUri" value="http://localhost:2113" />
    <add key="EventStoreEngagementFeedCursor" value="streams/$ce-engagement/101/forward/500" />
    <add key="EventStoreAssigneeFeedCursor" value="streams/$ce-assignee/244/forward/500" />
    <add key="EventStoreWorkRecordFeedCursor" value="streams/$ce-workrecord/171/forward/500" />
  </appSettings>
</configuration>